<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create">create</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/readall">readall</a>
  </li>
</ul>
