<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active text-light fs-3 text" aria-current="page" href="#"
      >Active</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link text-light fs-3 text" href="/">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light fs-3 text" href="/create">create</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light fs-3 text" href="/readall">readall</a>
  </li>
</ul>
